<h3 class="text-center">Ficha del inmueble <%= inmueble._id %></h3>
<div class="row">
    <div class="card col-6 offset-3">
        <img class="card-img-top" src="/public/uploads/<%= inmueble.imagen %>" alt="<%= inmueble.imagen %>">
        <div class="card-block">
            <h4 class="card-title"><%= inmueble.descripcion %></h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Habitaciones: <%= inmueble.habitaciones %></li>
            <li class="list-group-item">Superficie: <%= inmueble.superficie %> m²</li>
            <li class="list-group-item">Precio: <%= inmueble.precio %> €</li>
        </ul>
        <div class="card-block text-right">
            <a href="javascript:cargar('/inmuebles')" class="card-link">Volver al listado</a>
        </div>
    </div>
</div>