<div class="row">
    <div class="col-2  mid-vertical">
        <div class="form-group">
            <label for="listado-tipo-inmueble">Tipo </label>
            <select id="listado-tipo-inmueble" class="custom-select" onchange="filtarTiposInmuebles()">
                <option value="0">Todos</option>
            <% tiposInmueble.forEach(tipo => { %>
                <% if(locals.tipoSeleccionado && locals.tipoSeleccionado == tipo._id) { %>                
                    <option value="<%=tipo._id%>" selected> <%= tipo.nombre %> </option>
                <% } else { %>
                    <option value="<%=tipo._id%>"> <%= tipo.nombre %> </option>
                <% } %>
            <% }) %>
            </select>
        </div>
    </div>
    <div id="formulario-filtros" class="form col-10">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="filtro_precio_input">Precio</label>
                    <input type="number" class="form-control" id="filtro_precio_input" name="filtro_precio_input" placeholder="como máximo..." value="<%= locals.filtros?filtros.filtro_precio_anterior:"" %>">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="filtro_superficie_input">Superficie</label>
                    <input type="number" class="form-control" id="filtro_superficie_input" name="filtro_superficie_input" placeholder="como mínimo..." value="<%= locals.filtros?filtros.filtro_superficie_anterior:"" %>">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="filtro_habitaciones_input">Habitaciones</label>
                    <input type="number" class="form-control" id="filtro_habitaciones_input" name="filtro_habitaciones_input" placeholder="como mínimo..."  value="<%= locals.filtros?filtros.filtro_habitaciones_anterior:"" %>">
                </div>
            </div>
            <div class="col-3 mid-vertical">
                <button onclick="limpiarFitros()" class="btn mb-2">Limpiar filtros</button>
                <button onclick="filtrarListado()" class="btn mb-2">Filtrar</button>
            </div>
        </div>
    </div>
</div>
