<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/estilos.css" rel="stylesheet">
        <title> Inmuebles </title>
    </head>
    <body>
        <div class="container">
            <div id="notificaciones">
                
            </div>
          
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="javascript:cargar('/inicio')">Inicio</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:cargar('/inmuebles')">Listado de inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:cargar('/nuevo_inmueble')">Crear inmueble</a>
                        </li>
                    </ul>
                    <ul id="acciones-login" class="navbar-nav mr-0">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:cargar('/login')">Acceder</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:cargar('/registro')">Registrarse</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="contenido">
                <%-include('inicio');%>
            </div>
        </div>
    </body>
</html>
