<h3 class="text-center">Listado de inmuebles</h3>

<%- include("filtrar_inmuebles"); -%>

<div class="row">
    <div class="col-2"></div>
    <div class="col-2">Descripción</div>
    <div class="col-2">Tipo</div>
    <div class="col-2">Habitaciones</div>
    <div class="col-1">Superficie</div>
    <div class="col-2">Precio</div>
    <div class="col-1">Total: <%= inmuebles.length %></div>
</div>
<% if(locals.inmuebles) { %>
    <% inmuebles.forEach( inmueble => { %>
        <div class="row fila-inmueble" data-id="<%= inmueble._id %>">
            <div class="col-2">
                <img class="img-fluid" src="../public/uploads/<%= inmueble.imagen %>" alt="<%= inmueble.imagen %>" />
            </div>
            <div class="col-2"><%= inmueble.descripcion %></div>
            <div class="col-2"><%= inmueble.tipo.nombre %></div>
            <div class="col-2"><%= inmueble.habitaciones %></div>
            <div class="col-1"><%= inmueble.superficie %> m²</div>
            <div class="col-2"><%= inmueble.precio %> €</div>
            <div class="col-1">
                <a href="javascript:cargar('/inmuebles/<%= inmueble._id %>')"> Ficha </a>
                <a href="javascript:eliminarInmueble('<%= inmueble._id %>')"> Eliminar </a>
            </div>
        </div>
    <% }); %>
<% } %>
