
<h3 class="text-center">Acceso a la aplicación </h3>
<div class="row" class="form">
    <div class="col-4 offset-4">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="email" class="form-control" id="login" name="login" placeholder="user@domain.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
        </div>
        <div class="form-group text-right pr-1">
            <button class="btn" onclick="login()">Login</button>
        </div>
    </div>
</div>
