<h3 class="text-center">Nuevo inmueble</h3>
<div class="row" class="form">
    <div class="col-8 offset-2">
        <form id="formulario_inmueble" enctype="multipart/form-data"> 
            <div class="form-group row">
                <label for="descripcion_input" class="col-sm-4 col-form-label"> Descripción del inmueble: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="descripcion_input" name="descripcion_input">
                </div>
            </div>
            <div class="form-group row">
                <label for="tipo_input" class="col-sm-4 col-form-label"> Tipo de inmueble: </label>
                <div class="col-sm-8">
                    <select id="tipo_input"  name="tipo_input" class="form-control custom-select">
                    <% tiposInmueble.forEach(tipo => { %>
                        <option value="<%=tipo._id%>"> <%= tipo.nombre %> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="habitaciones_input"  class="col-sm-4 col-form-label"> Número de habitaciones:</label>
                <div class="col-sm-8">
                    <input type="number" min="1" id="habitaciones_input" name="habitaciones_input" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="superficie_input"  class="col-sm-4 col-form-label"> Superficie (m²):</label>
                <div class="col-sm-8">
                    <input type="number" min="25" id="superficie_input" name="superficie_input" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="precio_input"  class="col-sm-4 col-form-label"> Precio:</label>
                <div class="col-sm-8">
                    <input type="number" min="10000" step="500" id="precio_input" name="precio_input" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="imagen_input"  class="col-sm-4 col-form-label"> Foto: </label>
                <div class="col-sm-8">
                    <input type="file" id="imagen_input" name="imagen_input" accept="image/*" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 offset-sm-8">
                    <button class="btn btn-default" onclick="crearInmueble()"> Crear inmueble</button>      
                </div>
            </div>
        </form>
    </div>
</div>