
<h3 class="text-center">Registro</h3>
<form id="form-registro" class="row" class="form" enctype="multipart/form-data">
    <div class="col-4 offset-4">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input type="email" class="form-control" id="login" name="login" placeholder="user@domain.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
        </div>
        <div class="form-group text-right pr-1">
            <button class="btn" onclick="registrarse()">Login</button>
        </div>
    </div>
</form>

