body{
    background-color:whitesmoke;
    font-family: Arial;
}

.container{
    padding-top: 50px;
}

.miniatura-inmueble{
    max-width: 100%;;
}

.fila-inmueble{
    vertical-align: middle;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid grey;
}

.fila-inmueble div {
    vertical-align: middle;
}

#formulario-filtros *{
    vertical-align: middle;
}

.mid-vertical {
    display: flex;
    align-items: center;
}

#formulario-filtros button {
    margin-left: 5px;
}

.div-error {
    height: 15vh;
    text-align: center;
    border: solid 1px #721c24;
    background-color:#f8d7da;
    color: #721c24;
    padding-left: 2em;
    border-radius: 2px;
}